#result span {
    display: inline-block;
    width: 40px;
    text-align: center;
}
h1 {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
h3 {
    color: black;
}
body {
    background-color: aliceblue;
}
.container {
    position: relative;
    background-color: cadetblue;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 3%;
}
button:hover {
    background-color: lightcoral;
}
.numbers {
    margin-top: 10px;
    border-radius: 3%;
    background-color: azure;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-time {
    position: absolute;
    top: 80px;
    right: 30px;
    background-color: lightgray;
    width: 210px;
    padding: 10px; 
    font-size: 16px; 
    text-align: center; 
}

#current-date {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: lightgray;
    width: 210px;
    padding: 10px; 
    font-size: 16px; 
    text-align: center; 
}
